.body-container {
	width: 95%;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
}

img {
	width: 70%;
	margin-left: 50px;
}

.timeline {
	margin-top: 50px;
	margin-left: 15%;
	margin-right: 10%;
}